In [13]:
import re
import pandas as pd

df = pd.read_csv("../data/raw/brasilsemaborto.csv", header=None, names=['url'])
df

                                                    url
0     https://twitter.com/brasilsemaborto/status/160...
1     https://twitter.com/brasilsemaborto/status/160...
2     https://twitter.com/brasilsemaborto/status/160...
3     https://twitter.com/brasilsemaborto/status/160...
4     https://twitter.com/brasilsemaborto/status/160...
...                                                 ...
1406  https://twitter.com/brasilsemaborto/status/308...
1407  https://twitter.com/brasilsemaborto/status/307...
1408  https://twitter.com/brasilsemaborto/status/305...
1409  https://twitter.com/brasilsemaborto/status/305...
1410  https://twitter.com/brasilsemaborto/status/305...

[1411 rows x 1 columns]

In [14]:
df['id'] = df['url'].apply(lambda x: re.findall(r'twitter.com\/\w+\/status\/(\d+)', str(x))[0])
df

                                                    url                   id
0     https://twitter.com/brasilsemaborto/status/160...  1609546241012105219
1     https://twitter.com/brasilsemaborto/status/160...  1606399809509883907
2     https://twitter.com/brasilsemaborto/status/160...  1605020113710743553
3     https://twitter.com/brasilsemaborto/status/160...  1605020009922707457
4     https://twitter.com/brasilsemaborto/status/160...  1605020005321555969
...                                                 ...                  ...
1406  https://twitter.com/brasilsemaborto/status/308...           3080669552
1407  https://twitter.com/brasilsemaborto/status/307...           3072852974
1408  https://twitter.com/brasilsemaborto/status/305...           3058778857
1409  https://twitter.com/brasilsemaborto/status/305...           3058681491
1410  https://twitter.com/brasilsemaborto/status/305...           3058478988

[1411 rows x 2 columns]

In [15]:
ids = df['id'].to_list()
with open(r'../data/txt/ids_brasilsemaborto.txt', 'w') as fp:
    fp.write('\n'.join(ids))